<!DOCTYPE html>
<html>
<head>
	<title>Math Tutorial</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-toastr/dist/angular-toastr.css" />
	<script type="text/javascript" src="./dependencies/angular.js"></script>
	<script type="text/javascript" src="./node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>	
	<script type="text/javascript" src="./engine/setEngine.js"></script>
	<script type="text/javascript" src="./engine/operations.js"></script>
	<script type="text/javascript" src="./engine/proofEngine.js"></script>
	<script type="text/javascript" src=".//app.js"></script>
</head>
<body>
	<div ng-app="homepage" id="app">
		<div ng-controller="tutorialController as tut" id="wrapper">
			<div id="midWrap">
				<div id='bobPocket' ng-show="tut.tab==='bob'" droppable-bob drop="dropIntoBob">
					This is a set. His name is Bob, and he doesn't exist, yet.
					<div id="bob" draggable='true' class="customSet" ng-class="{flashInf: tut.bobFlash}"><div class="setName">Bob</div>
						<div ng-repeat="element in tut.selectedElements" class="selectedElement"><div class="elName">{{element.name}}</div></div>
					</div>
				</div>
			</div>
			<div id="sets">
				<h1>Sets</h1>
				<div ng-repeat="set in tut.sets">{{set.equivalents[set.eqActiveIndex]}}</div>
			</div>
			<div id="elements">
				<h1>Elements</h1>
				<div id="elText">
					This is an element. Its name is x!
				</div>
				<div ng-repeat="element in tut.elements" id="{{element.name}}" class="element" draggable="true" ng-class="{flashInf: tut.elFlash}" ondragstart="angular.element(getElementById('wrapper')).scope().tut.dragEl(event)" ondragend="angular.element(getElementById('wrapper')).scope().tut.endDragEl(event)" index="{{$index}}">
					<div class="elName" >{{element.name}}</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>