<!DOCTYPE html>
<html>
<head>
	<title>Math Tutorial</title>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" type="text/css" href="./node_modules/angular-toastr/dist/angular-toastr.css" />
	<script type="text/javascript" src="./dependencies/angular.js"></script>
	<script type="text/javascript" src="./node_modules/angular-toastr/dist/angular-toastr.tpls.js"></script>	
	<script type="text/javascript" src="./engine/setEngine.js"></script>
	<script type="text/javascript" src="./engine/operations.js"></script>
	<script type="text/javascript" src="./engine/proofEngine.js"></script>
	<script type="text/javascript" src=".//app.js"></script>
</head>
<body>
	<div ng-app="homepage" id="app">
		<div ng-controller="tutorialController as tut" id="wrapper">
			<div id="progressBar">
				<div ng-repeat="step in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]" class="step" ng-class="{complete: step <= tut.completeSteps, incomplete: step > tut.completeSteps}"></div>
			</div>
			<div id="midWrap">
				<div id='bobPocket' ng-show="tut.tab==='bob'" droppable-bob drop="dropIntoBob" ondragstart="angular.element(getElementById('wrapper')).scope().tut.dragBob(event)" ondragend="angular.element(getElementById('wrapper')).scope().tut.endDragBob(event)">
					This is a set. His name is Bob, and he doesn't exist, yet.
					<div id="bob" draggable='true' class="customSet" ng-class="{flashInf: tut.bobFlash}" ng-style="{'background-color': element.color, 'opacity': element.opacity, 'border':element.border}"><div class="setName">Bob</div>
						<div ng-repeat="element in tut.selectedElements" class="selectedElement" ng-style="{'background-color': element.color, 'opacity': element.opacity, 'border':element.border}"> ><div class="elName">{{element.name}}</div></div>
					</div>
				</div>

				<div id="customSetPocket" ng-show="tut.tab==='customSet'">
					<div id="customSet" class="customSet"  draggable="true" ng-class="{flashInf: tut.customSetFlash}" droppable-custom drop="dropIntoCustom" ondragstart="angular.element(getElementById('wrapper')).scope().tut.dragCustom(event)" ondragend="angular.element(getElementById('wrapper')).scope().tut.endDragCustom(event)">
						<input ng-model="tut.customSetName">	
						<div ng-repeat="element in tut.selectedElements" class="selectedElement" ng-style="{'background-color': element.color, 'opacity': element.opacity, 'border':element.border}"><div class="elName">{{element.name}}</div></div>

					</div>
				</div>
			</div>
			<div id="sets" droppable-sets  drop="dropIntoSets" dragover="dragOverSets" ng-class="{flashInf: tut.setsFlash}">
				<h1>Sets</h1>
				<div ng-repeat="set in tut.sets"  id="{{set.equivalents[set.eqActiveIndex]}}"  index="{{$index}}" class="set" ng-class="{flashInf: tut.flashSetIndex===$index}" draggable="true" ondragstart="angular.element(getElementById('wrapper')).scope().tut.dragSet(event)" ondragend="angular.element(getElementById('wrapper')).scope().tut.endDragSet(event)">{{set.equivalents[set.eqActiveIndex]}}</div>
			</div>
			<div id="elements">
				<h1>Elements</h1>
				<div id="elText" ng-show="tut.completeSteps==0">
					This is an element. Its name is x!
				</div>
				
				<div ng-repeat="element in tut.elements" id="{{element.name}}" class="element" draggable="true" ng-class="{flashInf: tut.elFlash}" ondragstart="angular.element(getElementById('wrapper')).scope().tut.dragEl(event)" ondragend="angular.element(getElementById('wrapper')).scope().tut.endDragEl(event)" index="{{$index}}" ng-style="{'background-color': element.color, 'opacity': element.opacity, 'border':element.border}" >
					<div class="elName" >{{element.name}}</div>
				</div>
			</div>
			<div id="trueContents" ng-show="tut.showContents" ng-class="{flashInf: tut.contentsFlash}" droppable-contents dragover="dragOverContents" drop="dropIntoContents">
				<h1 id="trueContentsTitle">Set Inspector</h1>
				<h3 id='trueContentsText0' ng-hide="tut.contentsSet">Drag a set here to see what's inside it</h3>
				<h3 id="trueContentsText1" ng-show="tut.contentsSet">{{tut.contentsSet.equivalents[tut.contentsSet.eqActiveIndex]}}
					<div ng-repeat="element in tut.contentsSet.elements" class="contentElement" ng-style="{'background-color': element.color, 'opacity': element.opacity, 'border':element.border}"><div class="elName" >{{element.name}}</div></div>
				</h3>
			</div>
		</div>
	</div>
</body>
</html>